<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="../../js/layui/css/layui.css">
<link rel="stylesheet" href="../../styles/css/common.css">
<link rel="stylesheet" href="../../styles/css/edit.css">
<script src="../../js/jquery-2.1.0.js"></script>
<script src="../../js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/layui/layui.js"></script>
<script src="../../js/vue.js"></script>
<script src="../../js/seller/drugInfo.js" type="text/javascript"
	charset="utf-8"></script>
</head>
<body>

	<!-- index -->
	<div class="white_inner3 box" id="drugAdd">
		<div class="list_title">
			<span class="list_title_span1">药品信息 </span>
		</div>
		<!-- 添加按钮以及输入框开始 -->
		<div class="input_box">
			<div class="input_box">
				<div class="aj_jiedian">
					拼音码: <input type="text" id="txtPym" autocomplete="off"
						placeholder="请输入..." class="layui-input">
				</div>
				<div class="aj_jiedian">
					药品名称: <input type="text" id="txtYpmc" autocomplete="off"
						placeholder="请输入..." class="layui-input">
				</div>
				<div class="confirmBtn" @click="selectDrugAddInfo()">查询</div>
			</div>


		</div>
		<div class="clear"></div>
		<!-- 添加按钮以及输入框结束 -->
		<!-- 表格 -->
		<table id="drugAddInfo" lay-filter="drugAddInfo"></table>
		<div class="clear"></div>

		<div class="alert_edit">
			<div class="editBox">
				<form class="layui-form">
					<div class="editBox_head">
						<div class="editBox_head_font" id='tit'></div>
						<div class="editBox_head_close"></div>
						<div class="clear"></div>
					</div>
					<div class="editBox_content" style="overflow: auto">
						<ul>
							<li class="layui-inline" id="tPym"><span
								class="layui-form-label"><span style="color: red">*</span>拼音码：</span>
								<div class="layui-input-block">
									<input id="txtPy" type="text" name="pinyinma" required
										lay-verify="required" v-model="editData.pinyinma"
										autocomplete="off" placeholder="请输入..." class="layui-input">
								</div></li>
							<li class="layui-inline" id="tDrugName"><span
								class="layui-form-label"><span style="color: red">*</span>药品名称：
							</span>
								<div class="layui-input-block">
									<input id="txtDrugName" type="text" name="drugname" required
										lay-verify="required" v-model="editData.drugname"
										autocomplete="off" placeholder="请输入..." class="layui-input">
								</div></li>
							<li class="layui-inline" id="tSpec"><span
								class="layui-form-label"><span style="color: red">*</span>药品规格：
							</span>
								<div class="layui-input-block">
									<input id="txtSpec" type="text" name="spec"
										v-model="editData.spec" required lay-verify="required"
										autocomplete="off" placeholder="请输入..." class="layui-input">
								</div></li>
							<li class="layui-inline"><span class="layui-form-label"><span
									style="color: red">*</span>计量单位：</span>
								<div class="layui-input-block layui-form"
									lay-filter="selFilter">
									<select id="txtUnit" name="unit" lay-filter="required"
										class="layui-input" lay-verify="required">
										<option value="" selected="selected">请选择</option>
										<option v-for="item in UnitData" :value="item.zdz">{{item.zdz}}</option>
									</select>
								</div></li>
							<li class="layui-inline" id="tLowwarning"><span
								class="layui-form-label"><span style="color: red">*</span>库存底限：</span>
								<div class="layui-input-block">
									<input id="txtLowwarning" type="text" name="lowwarning"
										required lay-verify="required" v-model="editData.lowwarning"
										autocomplete="off" placeholder="请输入..." class="layui-input">
								</div></li>
							<li class="layui-inline" id="tCsname"><span
								class="layui-form-label"><span style="color: red">*</span>供应商名称：
							</span>
								<div class="layui-input-block">
									<input id="txtCsname" type="text" name="csname" required
										lay-verify="required" v-model="editData.csname"
										autocomplete="off" placeholder="请输入..." class="layui-input">
								</div></li>


						</ul>
					</div>
					<div class="btnBox">
						<div class="btnClose">取消</div>
						<div lay-submit lay-filter="formSubmit">保存</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 编辑弹出框结束 -->
	<!--操作按钮-->
	<!-- <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a> -->
	<script type="text/html" id="barDrugAdd0">
			<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
			
    </script>
</body>
</html>
