<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="../../js/layui/css/layui.css">
<link rel="stylesheet" href="../../styles/css/common.css">
<link rel="stylesheet" href="../../styles/css/edit.css">
<script src="../../js/jquery-2.1.0.js"></script>
<script src="../../js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/layui/layui.js"></script>
<script src="../../js/vue.js"></script>
<script src="../../js/drug/drugIn.js" type="text/javascript"
	charset="utf-8"></script>
</head>
<body>

	<!-- index -->
	<div class="white_inner3 box" id="drugAdd">
		<div class="list_title">
			<span class="list_title_span1">药品入库</span>
		</div>
		<!-- 添加按钮以及输入框开始 -->
		<div class="input_box">
			<div class="input_box">
				<div class="addBtn" style="margin-right: 0;">入库</div>
				<div class="aj_jiedian">
					拼音码: <input type="text" id="txtPym" autocomplete="off"
						placeholder="请输入..." class="layui-input">
				</div>
				<div class="aj_jiedian">
					药品名称: <input type="text" id="txtYpmc" autocomplete="off"
						placeholder="请输入..." class="layui-input">
				</div>
				<div class="layui-inline">
				入库时间 :
				<div class="layui-input-inline">
					<input type="text" name="date" id="dateStart"
						placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
				</div>
				至
				<div class="layui-input-inline">
					<input type="text" name="date" id="dateEnd"
						placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
				</div>
			</div>
				<div class="confirmBtn" @click="selectDrugInInfo()">查询</div>
			</div>


		</div>
		<div class="clear"></div>
		<!-- 添加按钮以及输入框结束 -->
		<!-- 表格 -->
		<table id="drugInInfo" lay-filter="drugInInfo"></table>
		<div class="clear"></div>

		<div class="alert_edit">
			<div class="editBox">
				<form class="layui-form">
					<div class="editBox_head">
						<div class="editBox_head_font" id='tit'></div>
						<div class="editBox_head_close"></div>
						<div class="clear"></div>
					</div>
					<div class="editBox_content" style="overflow: auto">
						<ul>
							<li class="layui-inline" id="aa"><span class="layui-form-label"><span
											style="color: red">*</span>拼音码：</span>
								<div class="layui-input-block layui-form" lay-filter="selFilter">
								<select id="txtPy"  name="pinyinma"
									lay-filter="pinyinma"  class="layui-input">	
									<option value="" selected="selected" >请选择</option>		
									<option v-for="item in pymData" :value="item.pinyinma">{{item.pinyinma}}</option>
								</select>
								</div>
								</li>	
								<li class="layui-inline" id="bb"><span class="layui-form-label"><span
											style="color: red">*</span>药品名称：</span>
									<div class="layui-input-block layui-form" lay-filter="selFilter">
										<select id="txtDrugName" name="drugname"
											lay-filter="drugname"  class="layui-input">
											<option value="">请选择</option>
											<option v-for="item in dnData" :value="item.drugname">{{item.drugname}}</option>
										</select>
									</div>
								</li>
							<li class="layui-inline" id="tPihao"><span
								class="layui-form-label"><span style="color: red">*</span>药品批号：
							</span>
								<div class="layui-input-block">
									<input id="txtPihao" type="text" name="pihao"
										v-model="editData.pihao" required lay-verify="required"
										autocomplete="off" placeholder="请输入..." class="layui-input" width="200px">
								</div></li>
							<li class="layui-inline" id="tPzwh"><span
								class="layui-form-label"><span style="color: red">*</span>批准文号：
							</span>
								<div class="layui-input-block">
									<input id="txtPizhunwenhao" type="text" name="pizhunwenhao"
										v-model="editData.pizhunwenhao" required lay-verify="required"
										autocomplete="off" placeholder="请输入..." class="layui-input">
								</div></li>
							<li class="layui-inline" id="tSpec"><span
								class="layui-form-label"><span style="color: red">*</span>药品规格：
							</span>
								<div class="layui-input-block">
									<input id="txtSpec" type="text" name="spec"
										v-model="editData.spec" required lay-verify="required"
										autocomplete="off" placeholder="请输入..." class="layui-input">
								</div></li>
							<li class="layui-inline"><span class="layui-form-label"><span
									style="color: red">*</span>计量单位：</span>
								<div class="layui-input-block layui-form" lay-filter="selFilter">
									<select id="txtUnit" name="unit" lay-filter="required"
										class="layui-input" lay-verify="required">
										<option value="" selected="selected">请选择</option>
										<option v-for="item in UnitData" :value="item.zdz">{{item.zdz}}</option>
									</select>
								</div></li>
							<li class="layui-inline" id="tOperator"><span
								class="layui-form-label"><span style="color: red">*</span>操作员：
							</span>
								<div class="layui-input-block">
									<input id="txtOperator" type="text" name="operator"
										v-model="editData.operator"
										autocomplete="off" placeholder="请输入..." class="layui-input">
								</div></li>
							<li class="layui-inline" id="tFactory"><span
								class="layui-form-label"><span style="color: red">*</span>生产厂家：
							</span>
								<div class="layui-input-block">
									<input id="txtFactory" type="text" name="factory" required
										lay-verify="required" v-model="editData.factory"
										autocomplete="off" placeholder="请输入..." class="layui-input">
								</div></li>
							<li class="layui-inline" id="tInTime"><span
								class="layui-form-label"><span style="color: red">*</span>进货日期：</span>
								<div class="layui-input-inline">
									<input type="text" name="intime" id="intime"
									 v-model="editData.intime"
										placeholder="yyyy-MM-dd" autocomplete="off"
										class="layui-input">
								</div></li>			
							<li class="layui-inline" id="tAmount"><span
								class="layui-form-label"><span style="color: red">*</span>进货数量：</span>
								<div class="layui-input-block">
									<input id="txtAmount" type="text" name="amount" required
										lay-verify="required" v-model="editData.amount"
										autocomplete="off" placeholder="请输入..." class="layui-input">
								</div></li>
							<li class="layui-inline" id="tInPrice"><span
								class="layui-form-label"><span style="color: red">*</span>进货单价：</span>
								<div class="layui-input-block">
									<input id="txtInPrice" type="text" name="inprice" required
										lay-verify="required" v-model="editData.inprice"
										autocomplete="off" placeholder="请输入..." class="layui-input">
								</div></li>
							<li class="layui-inline" id="tSellPrice"><span
								class="layui-form-label"><span style="color: red">*</span>销售单价：</span>
								<div class="layui-input-block">
									<input id="txtSellPrice" type="text" name="sellprice" required
										lay-verify="required" v-model="editData.sellprice"
										autocomplete="off" placeholder="请输入..." class="layui-input">
								</div></li>	
							<li class="layui-inline" id="tAllPrice"><span
								class="layui-form-label"><span style="color: red">*</span>进货总额：</span>
								<div class="layui-input-block">
									<input id="txtAllPrice" type="text" name="allprice" 
									 v-model="editData.allprice"
										autocomplete="off" placeholder="请输入..." class="layui-input">
								</div></li>
							<li class="layui-inline" id="tInfrom"><span
								class="layui-form-label"><span style="color: red">*</span>进货单位：
							</span>
								<div class="layui-input-block">
									<input id="txtInfrom" type="text" name="infrom" required
										lay-verify="required" v-model="editData.infrom"
										autocomplete="off" placeholder="请输入..." class="layui-input">
								</div></li>	
							<li class="layui-inline" id="tProducedate"><span
								class="layui-form-label"><span style="color: red">*</span>生产日期：</span>
								<div class="layui-input-inline">
									<input type="text" name="producedate" id="producedate" required
										lay-verify="required"
										placeholder="yyyy-MM-dd" autocomplete="off"
										class="layui-input">
								</div></li>	
							<li class="layui-inline" id="tUsefuldate"><span
								class="layui-form-label"><span style="color: red">*</span>失效日期：</span>
								<div class="layui-input-inline">
									<input type="text" name="usefuldate" id="usefuldate" required
										lay-verify="required"
										placeholder="yyyy-MM-dd" autocomplete="off"
										class="layui-input">
								</div></li>	
						</ul>
						<br>
						<ul class="editBox_content_center">
							<li class="layui-form-item layui-form-text"><label
								class="layui-form-label"
								style="height: 100px; line-height: 100px;">备注：</label>
								<div class="layui-input-block"
									style="height: 120px; width: calc(100% - 110px); float: left; margin-left: 0;">
									<textarea placeholder="请输入内容" name="remark" v-model="editData.remark"
										class="layui-textarea"></textarea>
								</div></li>
						</ul>
					</div>
					<div class="btnBox">
						<div class="btnClose">取消</div>
						<div lay-submit lay-filter="formSubmit">保存</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 编辑弹出框结束 -->
	<!--操作按钮-->
	<!-- <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a> -->
	<script type="text/html" id="barDrugIn01">
			<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
			
    </script>
</body>
</html>
